name: ci
on:
    push:
        branches: ["main"]
        tags: ["*"]
    pull_request:
        branches: ["main"]
jobs:
    build-test-push:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Set up python
              uses: actions/setup-python@v5
              with:
                python-version: '3.11'

            - name: Install dependencies
              run: |
               python -m pip install --upgrade pip
               pip install -r requirements.txt
            
            - name : Run test
              run: |
               export PYTHONPATH=.
               pytest -q
            
            - name: Docker login
              uses: docker/login-action@v3
              with:
                username: ${{secrets.DOCKER_USERNAME}}
                password: ${{secrets.DOCKER_TOKEN}}

            - name: Build and push
              uses: docker/build-push-action@v6
              with:
                push: true
                tags: meera1112/python-ci-cd:latest

        
